.header {
    text-align: center;
}

.start {
    text-align: center;
}

.guessWord {
    text-align: center;
}

.wins {
    border: solid 1px black;
    width: 200px;
    color: green;
}

.losses {
    border: solid 1px black;
    width: 200px;
    color:red;

}

#placeHolderSpot {
    text-align: center;
}
.LETTERBOX {
    text-align: center;
}
#LETTERSUSED {
    text-align: center;
    border: solid 1px black;
    width: 400px;
    height: 50px;;
    text-align: center;
    color: red;
    font-size: 20px;
    font-weight: bolder;
}

.jumbotron {
    text-align: center;
    width: 100%;
}

.spacer {
    height: 20px;
}
#image-area {
    margin-left: auto;
	margin-right: auto;
	display: block;
    height: 400px;
    width: 400px;
    background-image: url("./images/question.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.jumbotron {
    background: lightskyblue;
}

hr {
    width: 400px;
}
h3 {
    text-align: center;
}